.body-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-background {
  background-image: url("/bg-funds-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}